.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

#page-container {
    position: relative;
    min-height: 90vh;
}