#login {
    padding: 1rem;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .login-wrapper {
        padding: 2rem 3rem;
        width: 100%;
        h2 {
            font-weight: bold;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
}

.photos-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}


/* ------- Material Design Styling ---------- */

.group {
    position: relative;
    margin-bottom: 45px;
}

input.form-control,
textarea.form-control,
select.form-control {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $main;
}

input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
    outline: none;
    box-shadow: none !important;
}

.form-control.is-invalid:focus {
    border-color: #FD1015;
}


/* LABEL ======================================= */

label.material {
    color: #999;
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input.form-control:focus~label,
input.form-control:valid~label,
textarea.form-control:focus~label,
select.form-control:focus~label,
textarea.form-control:valid~label,
select.form-control~label {
    top: -20px;
    font-size: 18px;
    color: $main;
}

.form-control.is-invalid:focus {
    border-color: #FD1015;
    box-shadow: none;
}

.form-control.is-invalid:focus~label {
    color: #FD1015;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $main;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active state */

input.form-control:focus~.bar:before,
input.form-control:focus~.bar:after,
textarea.form-control:focus~.bar:before,
select.form-control:focus~.bar:before,
textarea.form-control:focus~.bar:after,
select.form-control:focus~.bar:after {
    width: 50%;
}

input.form-control.is-invalid:focus~.bar:before,
input.form-control.is-invalid:focus~.bar:after,
textarea.form-control.is-invalid:focus~.bar:before,
select.form-control.is-invalid:focus~.bar:before,
textarea.form-control.is-invalid:focus~.bar:after,
select.form-control.is-invalid:focus~.bar:after {
    width: 0%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input.form-control:focus~.highlight,
textarea.form-control:focus~.highlight,
select.form-control:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: $main;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: $main;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: $main;
    }
    to {
        width: 0;
        background: transparent;
    }
}

$md-radio-checked-color: $main;
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;
@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
    }
}

.md-radio {
    margin: 16px 0;
    &.md-radio-inline {
        display: inline-block;
    }
    input[type="radio"] {
        display: none;
        &:checked+label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;
        }
        &:checked+label:after {
            transform: scale(1);
        }
    }
    label {
        display: inline-block;
        height: $md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before,
        &:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width: $md-radio-checked-size;
            height: $md-radio-checked-size;
            transform: scale(0);
            background: $md-radio-checked-color;
        }
    }
}

.material__textarea {
    height: 150px;
}