<div id='notifications'>
  <a class="nav-link text-light"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i>
    (<span id='notification-count'><%= render 'shared/notifications_count'%></span>)
  </a>
  <ul class="dropdown-menu  <%= position == 'right' ? 'dropdown-menu-right' : position == 'left' ? 'dropdown-menu-left' : ''%>" id='notification-content'>
    <%= render 'shared/notifications_content' %>
  </ul>
</div>
