<% notifications.each do |course| %>
  <li class="notification-box">
    <%= link_to demandes_path(I18n.locale) do %>
      <p><%= course.created_at.strftime('%d/%m/%y') %> - <%=course.created_at.strftime('%R') %>  <%= card_content_p(t('course_card.start_address'), course.start_address) %></p>
    <% end %>
  </li>
<% end %>
