<% if course.status == 'accepted' %>
<div class="row">
  <div class="col-12 col-md-4-offset">
    <div class=" flex-center btn btn-lg btn-status">
      فطريق عند لكليان
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4-offset">
    <div class="flex-center my-5">
      <%= link_to "وصلت عند لكليان", start_course_path(course), class: "btn btn-lg btn-success btn-rCab", remote: true %>
    </div>
  </div>
</div>
<% end %>
<% if course.status == 'arrived' %>
<div class="row">
  <div class="col-12 col-md-4-offset">
    <div class="flex-center my-5">
      <%= link_to "الكورصة سلات", end_course_path(course), class: "btn btn-lg btn-success btn-rCab", remote: true %>
    </div>
  </div>
</div>
<% end %>
<% if course.status == 'finished' %>
<div class="row">
  <div class="col-12 col-md-4-offset">
    <div class=" flex-center btn btn-lg btn-status">
      الكورصة سلات
    </div>
  </div>
</div>
<% end %>
