<section id="driver_card">
  <div class="container" id='course-status' data-id="<%= @course.id%>" data-user='client'>
    <%= render 'client_status', course: @course %>
  </div>
</section>
<%= render 'courses/map', markers: @markers, course: @course, driver: @course.driver, with_inputs: false, height: '600px', stream: true %>
