<section id="course_card" class='mt-3'>
  <div class="container">
    <h4 class = "text-center"><%= t('demandes.title') %></h4>
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-12 col-md-4">
          <%= render 'courses/course_card', course: course do %>
            <div class="flex-center" style="margin-top: 16px;">
              <%= link_to t('demandes.map'), map_display_course_path(I18n.locale,course), class: "btn btn-success btn-rCab btn-rCab__sm"%>
            </div>
            <div class="flex-center" style="margin-top: 16px;">
              <%= link_to t('demandes.select_course'), select_course_path(I18n.locale,course), class: "btn btn-success btn-rCab btn-rCab__sm"%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
