<%= render 'courses/map', markers: @markers, course: @course, driver: nil, with_inputs: true, height: '90vh', stream: false %>
<%= render 'form', course: @course %>
<div id='current-position' title='Utiliser ma position actuelle' data-toggle="tooltip" data-placement="bottom"><i class="fas fa-crosshairs"></i></div>
</div>
<%#= link_to 'Back', courses_path %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary hidden" data-toggle="modal"  id='btnValidatePrice' data-target="#validatePrice" data-backdrop="static" data-keyboard="false">
</button>
<div id="modal-wrapper">
</div>
