#driver_card {
    margin-top: 4rem;
    .btn-status {
        border-radius: 1rem;
        padding: 1rem 2rem;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        margin: 1rem 0rem 1rem 0rem;
        color: white;
        background: #C4C4C4;
    }
    .btn-status-active {
        background: $main;
    }
    .driver-info {
        margin-top: 4rem;
    }
}