.footer {
    background: $green;
    min-height: 8rem;
    padding: 8px 8px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    h6 {
        font-size: 1.5rem;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: white;
            text-decoration: none;
            font-size: 2rem;
            margin: 0rem 2rem;
            &:hover {
                color: rgba(0, 0, 0, 0.5)
            }
        }
    }
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            margin: 0rem 2rem;
            &:hover {
                color: rgba(0, 0, 0, 0.5)
            }
        }
    }
}
