  .mapboxgl-ctrl-directions {
      width: 95% !important;
      min-width: 300px !important;
      max-width: 700px !important;
  }
  
  .mapboxgl-ctrl-top-left {
      width: 100%
  }
  
  .directions-icon-depart {
      background-color: $green;
  }
  
  .directions-icon-arrive {
      background-color: $blue;
  }
  
  #map-dir {
      position: relative;
  }
  
  #current-position {
      position: absolute;
      top: 20px;
      right: 5%;
      z-index: 10;
      color: green;
      font-size: 20px;
  }
  
  #submit_new_course {
      position: absolute;
      top: 110px;
      z-index: 2;
      width: 200px;
      right: calc(50% - 100px);
  }