#notifications {
    .notification-box {
        padding: 15px 0px;
        color: white;
        font-size: 15px;
        border-bottom: 1px dotted white;
        p {
            margin-bottom: 0;
        }
        &:last-child {
            border-bottom: none;
        }
        .card-content-wrapper .card-content-title {
            color: white;
        }
    }
    .dropdown-menu {
        display: none;
    }
    .dropdown-menu.show {
        display: block;
        min-width: 30rem;
        max-height: 80vh;
        overflow: scroll;
    }
    @media(max-width: 600px) {
        .dropdown-menu {
            margin: 0;
            width: 95%;
            left: 2.5%;
            margin-top: 0.5rem;
        }
        .dropdown-menu.show {
            min-width: 0rem;
        }
    }
}